/* ===== MAIN.CSS goes here ===== */

body{
    background-color: rgb(117, 103, 103);
    color: rgba(0, 0, 0, 0.8);
}

#landing{
    height: 100vh;
    background-image: url('./img/darkcoding.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: -1;
}

#mainText{
    margin-top: 30vh;
}

.section{
    color: white;
}

#intro{
    margin-top: 30px;
}

/* #intro.section{
    background-image: url('https://r1.community.samsung.com/t5/image/serverpage/image-id/6296364iCE1B2A9A29E80CDA/image-size/large?v=v2&px=999');
    background-size: cover;
    background-position: center; /* 배경 이미지를 중앙에 위치시킴 */

*/

#work{
    background-color: rgb(168, 154, 154);
}

#p1{
    height: 350px;
}


/* 네비게이션 바 내의 이미지와 리스트를 flex로 정렬 */

.navbar{
    background-color: #161e3d;
}
.nav-wrapper {
    display: flex;
    justify-content: space-between; /* 이미지와 네비게이션을 양쪽에 배치 */
    align-items: center; /* 세로 중앙 정렬 */
}

.header-img {
    display: flex;
    align-items: center;
    margin-right: 20px; /* 이미지가 왼쪽으로 살짝 이동 */
}

/* 아이콘 크기와 중앙 정렬 */
.header-img i {
    font-size: 40px; /* 아이콘 크기 */
    display: flex;
    align-items: center; /* 수직 중앙 정렬 */
    justify-content: center; /* 수평 중앙 정렬 */
    height: 100%; /* 부모 요소에 맞게 높이 설정 */
    color: white; /* 아이콘 색상 */
}

/* 이미지 크기 조정 (필요시) */
.headerImg {
    width: 150px;
}

#navList {
    display: flex;
    justify-content: flex-end; /* 메뉴 항목을 오른쪽으로 정렬 */
    list-style: none;
    padding: 0;
}

#navList li {
    margin-left: 20px; /* 메뉴 항목 간 간격 */
}

#navList li a {
    color: white; /* 텍스트 색상 */
    text-decoration: none;
}



/*----------------사이드 SNS 버튼-----------------------------------*/
.fixed-action-btn .btn-floating.btn-large {
    width: 60px;  
    height:60px;
    margin-right: 50px;
    margin-bottom: 20px;
}

.fixed-action-btn .btn-floating.btn-large i{
    font-size: 2.5rem;                     /*아이콘 크기*/
    color: rgb(255, 204, 0);           /*아이콘 색깔*/
    vertical-align: middle;
    line-height: 61px;                   /*아이콘이 정렬*/
    background-color: #847c7c;         /*아이콘 배경색깔*/
}   

.fixed-action-btn .btn-floating:hover { /*hover 적용*/
    transform: scale(1.1);
    background: #e7acb7;
}

.fixed-action-btn li{
    margin-right: 50px;
    height: 40px;
}

.fixed-action-btn li:hover{ /*hover 적용*/
    transform: scale(1.3);
}

/*아이콘 배경색*/
.instagram {
    background: radial-gradient(circle farthest-corner at 32% 106%, #ffe17d 0%, #ffcd69 10%, #fa9137 28%, #eb4141 42%, transparent 82%),
                linear-gradient(135deg, #234bd7 12%, #c33cbe 58%);
}

.github{
    background: rgb(130, 0, 110);
    color: white;
}

.velog{
    background : rgb(99, 164, 109)
}

.contact{
    background: rgb(131, 190, 222);
}


/*------------------사이드 SNS 버튼 END------------------------------*/
